<div class="header">
  <header>
    <nav class="navbar fixed-top search-top">
      <a class="navbar-brand" href="#!">Gitter</a>
      <form #searchForm='ngForm' (ngSubmit)=submitSearch() class="form-inline form-group my-2 my-lg-0 search-form">
        <input class="form-control mr-sm-2" type="text" placeholder="Search..." id="search" name="search"
          [(ngModel)]="searchParam">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </nav>
  </header>
</div>
<div class="container-fluid main-section">
  <div class="info-section">
    <div class="profile-photo">
      <img src="{{ infoData.avatar_url }}" alt="Profile Image">
    </div>

    <div class="right-section">
      <div class="bio">
        <h1>{{ infoData.bio }}</h1>
      </div>
      <hr>
      <h2 class="profile-name">{{ infoData.name }}</h2>
      <p>Public Repositories: {{ infoData.public_repos }}</p>
      <a href="{{ infoData.html_url }}" target="_blank"><button class="btn btn-info">Visit Profile on
          Github</button></a>
    </div>
  </div>
  <hr>
  <div class="repo-section">
    <div *ngFor="let repo of repoData; let i = index">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">{{ i+1 }}. {{ repo.name | uppercase }}</h4>
          <h6 class="card-subtitle mb-2 text-muted text-right">{{ repo.created_at | date}}</h6>
          <hr>
          <p class="card-text text-center repo-description" *ngIf="repo.description">
            {{ repo.description }}
          </p>
          <hr>
          <a href="{{ repo.html_url }}" class="card-link" target="_blank"><button class="btn btn-link btn-outline-info repo-btn">View Repository</button></a>
        </div>
      </div>
    </div>
  </div>
</div>
