<div class="header">
  <header>
    <nav class="navbar fixed-top search-top">
      <a class="navbar-brand" href="#!">Gitter</a>
      <form #searchForm='ngForm' (ngSubmit)=submitSearch() class="form-inline form-group my-2 my-lg-0 search-form">
        <input class="form-control mr-sm-2" type="text" placeholder="Search..." id="search" name="search"
          [(ngModel)]="searchParam">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </nav>
  </header>
</div>
<div class="container-fluid main-section">
  <div class="info-section">
    <div class="profile-photo">
      <img src="{{ infoData.avatar_url }}" alt="Profile Image">
    </div>

    <div class="right-section">
      <div class="bio">
        <h1>{{ infoData.bio }}</h1>
      </div>
      <hr>
      <h2 class="profile-name">{{ infoData.name }}</h2>
      <a href="{{ infoData.html_url }}" target="_blank"><button class="btn btn-info">Visit Profile on
          Github</button></a>
    </div>
  </div>
</div>
